<h1 class="header-all-books grad">My books</h1>   
<div>
    <ol class="breadcrumb hidden-sm-down">
        <li class="breadcrumb-item"><a href="#/">Home</a></li>
        <li class="breadcrumb-item active"><a href="#/books?page=1&size=10">My books</a></li> 
    </ol>
</div>
<div class="row">
<main class="col-lg-9 mb-5">
    <section class="">
    <h1 class="category grad"><img src="./images/want-to-read.png" class="img-fluid img-header"/>Want to read books</h1>
    <div class="display-horizontal-mybooks">
    {{#each books}}
        {{#ifCond status "want-to-read"}}
        <div class="display-column text-overflow margin-right ml-4 mr-2">
            <div class="">
                    <a href="#/books/{{_id}}"><h4 class="container-book-title text-top">{{{title}}}</h4></a>
                    <a href="#/books/{{_id}}"><img class="img-fluid img-border img-size" src="{{coverUrl}}"></a>
                    <p class="text-center">Author: {{author}}</p>
            </div>
             <div class="dropdown change-status">
                <button class="btn btn-secondary btn-change-status dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{status}}<span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button data-status="want-to-read" class="dropdown-item" type="button">Want to read</button>
                    <button data-status="currently-reading" class="dropdown-item" type="button">Currently reading</button>
                    <button data-status="read" class="dropdown-item" type="button">Read</button>
                </div>
            </div>
        </div>
        {{/ifCond}}
    {{/each}}
    </div>
    </section>
    <section class="">
    <h1 class="category grad"><img src="./images/currently-reading.png" class="img-fluid img-header"/><span class="text-center">Currently reading books</span></h1>
     <div class="display-horizontal-mybooks">
    {{#each books}}
        {{#ifCond status "currently-reading"}}
        <div class="display-column text-overflow margin-right ml-4 mr-2">
            <div class="">
                    <a href="#/books/{{_id}}" class="title"><h4 class="container-book-title text-top">{{{title}}}</h4></a>
                    <a href="#/books/{{_id}}"><img class="img-fluid img-border img-size" src="{{coverUrl}}"></a>
                    <p class="text-center">Author: {{author}}</p>
            </div>
             <div class="dropdown change-status">
                <button class="btn btn-secondary btn-change-status dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{status}}<span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button data-status="want-to-read" class="dropdown-item" type="button">Want to read</button>
                    <button data-status="currently-reading" class="dropdown-item" type="button">Currently reading</button>
                    <button data-status="read" class="dropdown-item" type="button">Read</button>
                </div>
            </div>
        </div>
        {{/ifCond}}
    {{/each}}
    </div>
    </section>
    <section class="">
    <h1 class="category grad">Read books</h1>
     <div class="display-horizontal-mybooks">
    {{#each books}}
        {{#ifCond status "read"}}
        <div class="display-column text-overflow margin-right ml-4 mr-2">
            <div class="">
                    <a href="#/books/{{_id}}"><h4 class="container-book-title text-top">{{{title}}}</h4></a>
                    <a href="#/books/{{_id}}"><img class="img-fluid img-border img-size" src="{{coverUrl}}"></a>
                    <p class="text-center">Author: {{author}}</p>
            </div>
             <div class="dropdown change-status">
                <button class="btn btn-secondary btn-change-status dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {{status}}<span class="caret"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button data-status="want-to-read" class="dropdown-item" type="button">Want to read</button>
                    <button data-status="currently-reading" class="dropdown-item" type="button">Currently reading</button>
                    <button data-status="read" class="dropdown-item" type="button">Read</button>
                </div>
            </div>
        </div>
        {{/ifCond}}
    {{/each}}
    </div>
    </section>
</main>
<aside class="aside-mb col-md-3 hidden-md-down">
    <h5>Recently Added Books</h5>
        <ul class="reset-padding">
            <li><a href="#/books/55f56b486c1174a825cc4a91">A Clash of Kings</a></li>
            <li><a href="#/books/55f5908d9d72061c143a07dc">A Clockwork Orange</a></li>
            <li><a href="#/books/55f56b476c1174a825cc4a8a">A Dance with Dragons</a></li>
            <li><a href="#/books/55f5908d9d72061c143a07d0">A Farewell to Arms</a></li>
            <li><a href="#/books/55f56b4a6c1174a825cc4a98">A Feast for Crows</a></li>
            <li><a href="#/books/55f56b476c1174a825cc4a8c">A Storm of Swords</a></li>
        </ul>
     <h5>Recent Reviews</h5>
        <ul class="reset-padding">
            <li><a href="#/books/55f56b476c1174a825cc4a8a">A Dance with Dragons</a></li>
            <li><a href="#/books/55f56b4a6c1174a825cc4a98">A Feast for Crows</a></li>
            <li><a href="#/books/55f56b486c1174a825cc4a91">A Clash of Kings</a></li>
            <li><a href="#/books/55f56b476c1174a825cc4a8c">A Storm of Swords</a></li>
            <li><a href="#/books/55f5908d9d72061c143a07d0">A Farewell to Arms</a></li>
            <li><a href="#/books/55f5908d9d72061c143a07dc">A Clockwork Orange</a></li>
        </ul>
</aside>
</div>