<div>
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/">Home</a></li>
    <li class="breadcrumb-item"><a href="#/books?page=1&size=10">Books</a></li>
    <li class="breadcrumb-item active">Books</li>  
    </ol>
</div>

<div class="header-all-books">
    <h2 id="title" data-id = {{_id}}>{{title}}</h2>
    <h4>By {{author}}</h4>
</div>

<div class="row">
<main class="col-md-9">
    {{!--<div class="col-md-8">--}}
    <div>
        <div class="row">
            <div class="media offset-md-1">
            <img class="d-flex mr-3 img-fluid img-single-book" src="{{coverUrl}}">
            <div class="media-body content col-md-6">
                <p class="read-more">{{description}}</p>
            </div>
            </div>
        </div>
        <p>Genres: </p>
            {{#genres}}
                        <p>{{this}}  </p>
            {{/genres}}
        <p>Pages: {{pages}}</p>     
    </div>
    <div class="change-status">
        <h3>Status</h3>
        <button type="radio" data-status="want-to-read" class="btn btn-success btn-change-status">Want to read</button>
        <button type="radio" data-status="currently-reading" class="btn btn-success btn-change-status">Currently reading</button>
        <button type="radio" data-status="read" class=" btn btn-success btn-change-status">Read</button>
    </div>
    <div>
        <h2>Reviews:</h2>
        {{#if reviews}}
        {{#reviews}}
            <a href="#">{{this.username}}:</a>
            <p>{{this.review}}</p>
        {{/reviews}}
        {{else}}
            <p>Yours will be the first.</p>
        {{/if}}
    </div>
    <div class="form-group">
        <textarea id="tb-review" type="text" class="form-control"></textarea>
        <button id="btn-review-send" class="btn btn-primary">Send</button>
    </div>
    {{!--</div>--}}
</main>
<aside class="col-md-3">
    <h5>Recently Added Books</h5>
        <ul class="reset-padding">
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
        </ul>
     <h5>Recent Reviews</h5>
        <ul class="reset-padding">
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
            <li><a href="#">Harry Potter</a></li>
        </ul>
</aside>
</div>